<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="field">
        <label for="name">Name: </label>
        <input type="text" name="Name" id="name" formControlName="name">
    </div>
    <div class="field">
        <label for="email">Email: </label>
        <input type="email" name="Email" id="email" formControlName="email">
    </div>
    <div class="field">
        <label for="birthdate">Birthdate: </label>
        <input type="date" name="Birthdate" id="birthdate" formControlName="birthdate">
    </div>
    <div class="field">
        <label for="phone">Phone: </label>
        <input type="text" name="Phone" id="phone" maxlength="9"
            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
            formControlName="phone">
    </div>
    <div class="field">
        <label for="taxnumber">Tax Number: </label>
        <input type="text" name="Tax number" id="taxnumber" maxlength="9"
            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
            formControlName="taxnumber">
    </div>
    <div class="field">
        <app-custom-dropdown
            [label]="'Country'"
            [options]="options"
            formControlName="country"
        >
        </app-custom-dropdown>
    </div>
    <button id="btn-submit" type="submit" class="submit-btn">Submit</button>
</form>
